h2 
{ text-align:center;
color:hotpink}
body 
{background-color: blue;}
img
{border: double red;}
p
{color:saddlebrown}
.paragrafi
{
    color:green;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover
{color:green;}