table tr td {
    border: 2px solid black;
}
.obojen {
    background-color: blue;
}
span {
   display:inline-block;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    
   
}

